.filterName{
    font-size: 3em;
    margin-left: 1em;
}
.categoryContainer{
    display: flex;
    margin-left: 3em;

    padding: 1em;
    flex-direction: column;
}

.filterItems{
    display: flex;

    margin: 1em,1em,1em, 3em;
    flex-wrap: wrap;
}

.itemCard{
    /* width:25%; */
    flex:0 25%;
   
}


@media(max-width: 1200px) {
    .itemCard {
       width: 30%;
     }
  }

@media(max-width: 1000px) {
    .itemCard {
       width: 50%;
     }
  }

  
  @media(max-width: 600px) {
    .itemCard {
       width: 100%;
     }
  }
