.filterBar{
    display: flex;
    margin: 1em 1em 1em 5em;
    text-align: center;
    padding: 1em;
   align-items: center;
}

.filterTabs{
    display: flex;
    outline: none;
    justify-content: space-evenly;
    padding-left: 1em;
    border-top-right-radius: 50px 20px;
    margin-left: 2em;
    padding-right: 1em;
    align-items: center;
    border-radius: 10px;
    padding-left: 2em;
   
}
.tabItem{
    display: flex;
    padding: 1em;
    cursor: pointer;
    outline:0;
    /* width: 4em;
    padding-left: 3em;
    padding-right: 3em; */
    /* border-radius: 10px; */
    /* margin: 2em; */
    background-color: rgb(196,196,196);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}

.Container{
    display: flex;
    flex-direction: column;
}

.selectedTabItem{
    display: flex;
    padding: 1em;
    outline:0;
    cursor: pointer;
    /* width: 4em;
    padding-left: 3em;
    padding-right: 3em; */
    /* border-radius: 10px; */
    /* margin: 2em; */
    background-color: rgb(240, 240, 240);
    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
}