.checkoutContainer{
    display: flex;
    flex-direction: column;
}

.heading{
    margin-left: 3em;
    margin-top: 1em;
    font-size: 2em;
}

/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2em;
  }
  table{
      border-radius: 10px;
      box-shadow: 1px 3px 5px #888888;
  } */
  .tableContainer{
    margin-left: 5em;
   margin-top: 2em;
  }


  .categoryHeading{
      background: rgb(196,196,196);
      padding: 1em;
  }

  table { 
    border: 1px solid #000;
    border-collapse: separate;
    border-left: 0;
    border-radius: 8px;
    border-spacing: 0px;
    box-shadow: 2px 4px 6px #888888;
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-collapse: separate;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
th, td {
    padding: 5px 4px 6px 4px; 
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #000; 
    padding: 2em;   
}
td {
    border-top: 1px solid #000;    
}
thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 8px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 8px;
}

.summaryCard{

}

.cartSummary{
    display: flex;
}
  